/* Write your CSS here */
.li-container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.btn-el {
  padding: 5px;
  height: 40px;
  width: 80px;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 8px;
}
